.assistant {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 100;
}

.balloon {
    --bg-color: whitesmoke;
    display: table;
    position: relative;
    color: gray;
    border: 2px solid var(--bg-color);
    background-color: var(--bg-color);
    padding: 0 .5em;
    border-radius: 4px;
    margin-bottom: 9px;
    width: 200px;
}

.horn {
    margin: -16px 150px 0;
    color: whitesmoke;
}


li {
    border-bottom: dotted;
    border-color: lightgray;
    border-width: 2px;
    cursor: pointer;
    color: blue;
}